
@media (max-width:320px){
            
        .recargas{
            flex-direction: column;
            align-items: center;
        }
        .precosRecargas{
            height: 980px;
        }
        .cardRecargas{
            margin: 2%;
        }
        

}